
/* main
{
    display: flex;
    justify-content: space-between;
} */
body
{
    background-color: rgb(37, 37, 37); 
    margin: 0px;
    width: 100vw;
    /* background-color: red; */
}
header
{
    background-color: rgb(65, 64, 64);
    width: 100vw;
    height: 100px;
}
.sidebar
{
    background-color: rgb(182, 181, 181);
    float: right;
    width: 12.5vw;
    height: 600px;
}
.middle
{
    background-color: white;
    /* display: inline-block; */
    float: right;
    width: 75vw;
    height: 500px;
}
